$text_general: 'Rubik', sans-serif;
$font_general: 16px;
$border_header: #c5c5c5;
$color_general: #ffffff;
$color_links: #4a4a4a;
$color_footer: #252525;
$color_text-footer: #676a6d;
$color_hover: #14d9c4;