.page {
    box-sizing: border-box;
    font-size: $font_general;
    font-family: $text_general;
}
.page__header {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $border_header;
    background-color: $color_general;
}
.image__header {
    max-width: 154px;
    margin-top: 10px;
}
.links__header>ul>li {
    display: inline;
    padding-right: 12px;
}
.links__header>ul>li>a {
    display: inline-block;
    font-size: $font_general;
    color: $color_links;
    height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}
/*********** termina header ***********/
.page__main {
    height: 366px;
    background: url(../images/david-van.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.title__main {
    display: flex;
    flex-direction: column;
    line-height: normal;
    .text__main {
    font-weight: bold;
    font-size: 1.875rem;
    color: $color_general;
    margin-left: 20px;
    }
}
.page__footer {
    height: 90px;
    background-color: $color_footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.text__footer {
    font-size: $font_general;
    color: $color_text-footer;
    text-align: center;
}

/******************** *****************/
@media all and (min-width:768px){
    .page__header {
        flex-direction: row;
        justify-content: space-between;
    }
    .image__header {
        margin-left: 20px;
    }
    .page__main {
        height: 834px;
    }
    .title__main{
        .text__main {
        font-size: 3.75rem;
        }
    }
}

@media all and (min-width:1024px){
    .links__header {
        margin-right: 20px;
    }
}